<!-- eslint-disable @angular-eslint/template/eqeqeq -->
<section style="background-color: rgb(181, 141, 219);">


  <!-- <div class="container-fluid h-100-vh page-bg">
    <div class="row align-items-md-center h-100-vh">

      <div class="col-md-4" style="margin-left: 32%;">
        <form action="" style="margin-left: none;margin-right: auto;padding: 16px;
              background: transparent;margin-top: 20%;">
          <h4 class="login01">Sign Up Now</h4>

          <br>

          <div class="form-group mb-4">
            <label for="userType">UserType:</label>
              <select name="userType" id="userType">
                <option value="printshopowner">PrintShop Owner</option>
              </select>
          </div>

          <div class="form-group mb-4">
            <input [(ngModel)]="registerModel.userName" type="text" class="form-control form-control-lg" name="username"
              id="username" [disabled]="userType == undefined" autofocus="" placeholder="Username">
            <div *ngIf="submitted && registerModel.userName==''" style="color:red">Required Email/Username</div>
          </div>
          <div class="form-group mb-4">
            <input [(ngModel)]="registerModel.mobileNo" type="text" class="form-control form-control-lg" name="mobileNo"
              id="mobileNo" autofocus="" placeholder="Mobile Number" type="number" [disabled]="userType == undefined">
            <div *ngIf="submitted && registerModel.mobileNo==0" style="color:red">Required Email/Mobileno</div>
          </div>
          <div class="form-group mb-4">
            <input type="password" [(ngModel)]="registerModel.password" class="form-control form-control-lg"
              name="Password" id="Password" placeholder="Password" [disabled]="userType == undefined">
            <div *ngIf="submitted && registerModel.password==''" style="color:red ">Required Password</div>
          </div>

          <div class="form-group mb-4" *ngIf="registerModel.password != ''">
            <input type="password" [(ngModel)]="registerModel.confirmPassword" class="form-control form-control-lg"
              name="confirmPassword" id="confirmPassword" placeholder="Confirm Password">
            <div *ngIf="submitted && registerModel.confirmPassword==''" style="color:red ">Required Confirm Password
            </div>
          </div>
          <button class="btn btn-primary btn-lg btn-block btn-uppercase mb-4 waves-effect waves-button waves-light"
            (click)="regClick()">Sign Up
          </button>

          <b><a style="color: #fff;">Already have an account? </a> <a style="cursor:pointer ;" (click)="loginClick()"
              class="text-light"><strong>Sign In</strong></a></b>


          <a (click)="home()" class="banner-btn pix-btns wow fadeInUp" data-wow-delay="0.7s"
            style="position: fixed;top: 2%;right: 3%;font-size: larger;color: #fff;cursor: pointer;">
            <i class="fas fa-home"></i> <b> Back To Home </b></a>
        </form>
      </div>

    </div>
  </div> -->
  <br><br>

  <form action="" style="width: 60%;align-items: center;margin-left: 20%;">

    <div class="container">


      <h4 class="login01">Sign Up Now</h4>
      <p style="text-align: center;"> Please fill in this form to create an account.</p>

      <br>

      <!-- <h1>Register</h1> -->
      
      <hr>

      <label for="userType"><b>UserType:</b></label> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
      <select name="userType" id="userType">
        <option value="1">PrintShop Owner</option>
      </select>
      <br>
      <br>

      <label for="shopname"><b>Shop Name</b></label>
      <input [(ngModel)]="shopRegister.Shop_Name" type="text" placeholder="Enter Shop Name" name="shopname"
        id="shopname" required>

      <label for="address"><b>Address</b></label>
      <input [(ngModel)]="shopRegister.Shop_Address" type="text" placeholder="Enter Address" name="address" id="address"
        required>

      <label for="mobileno"><b>Mobile No</b></label>
      <input [(ngModel)]="shopRegister.Mobile_Number" type="text" placeholder="Enter Mobile No" name="mobileno"
        id="mobileno" required>

      <label for="contactpersonname"><b>Contact_Person Name</b></label>
      <input [(ngModel)]="shopRegister.Contact_Person_Name" type="text" placeholder="Enter Contact Person Name"
        name="contactpersonname" id="contactpersonname" required>

      <label for="contactpersonno"><b>Contact_Person No</b></label>
      <input [(ngModel)]="shopRegister.Contact_Person_No" type="text" placeholder="Enter Contact Person No"
        name="contactpersonno" id="contactpersonno" required>

      <label for="alternativenumber"><b>Alternative Number</b></label>
      <input [(ngModel)]="shopRegister.Alternative_No" type="text" placeholder="Enter Alternative Number"
        name="alternativenumber" id="alternativenumber">

      <label for="email"><b>Working Timings</b></label>
      <br>

      <div class="row" style="margin-left: 20px ;">
        <label for="from">From:</label> &nbsp; &nbsp;
        <input [(ngModel)]="shopRegister.Working_Time_From" type="time" id="from" name="from">

        &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;

        <label for="to">To: </label> &nbsp; &nbsp;
        <input [(ngModel)]="shopRegister.Working_Time_To" type="time" id="appt" name="appt">
      </div>

      <br>

      <label for="bankname"><b>Bank Name</b></label>
      <input [(ngModel)]="shopRegister.Bank_Name" type="text" placeholder="Enter Bank Name" name="bankname"
        id="bankname" required>

      <label for="accountnumber"><b>Account Number</b></label>
      <input [(ngModel)]="shopRegister.Accoount_No" type="text" placeholder="Enter Account Number" name="accountnumber"
        id="accountnumber" required>

      <label for="ifsccode"><b>IFSC Code</b></label>
      <input [(ngModel)]="shopRegister.IFSC_Code" type="text" placeholder="Enter Account Number" name="ifsccode"
        id="ifsccode" required>

        <label for="username"><b>User Name</b></label>
      <input [(ngModel)]="shopRegister.User_Name" type="text" placeholder="Enter User Name" name="username"
        id="username" required>

      <label for="email"><b>Email</b></label>
      <input [(ngModel)]="shopRegister.Email" type="text" placeholder="Enter Email" name="email"
        id="email" required>


      <label for="password"><b>Password</b></label>
      <input [(ngModel)]="shopRegister.Password" type="password" placeholder="Enter Password" name="password"
        id="password" required>

      <label for="confirmpassword"><b>Confirm Password </b></label>
      <input [(ngModel)]="shopRegister.Confirm_Password" type="password" placeholder="Confirm Password"
        name="confirmpassword" id="confirmpassword" required>
      <hr>
      <p>By creating an account you agree to our <a href="#">Terms & Privacy</a>.</p>

      <button type="submit" class="registerbtn" (click)="registerClick()">Register</button>



      <a (click)="home()" class="banner-btn pix-btns wow fadeInUp" data-wow-delay="0.7s"
            style="position: fixed;top: 2%;right: 3%;font-size: larger;color: #fff;cursor: pointer;">
            <i class="fas fa-home"></i> <b> Back To Home </b></a>

            <br>
            <br>
            
            <div class="container signin">
              <p>Already have an account? <a href="#">Sign in</a>.</p>
            </div>


    </div>
  </form>

  <br><br>



  

</section>